@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Open+Sans:wght@300;400&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #111111 !important;
}

.title{
    font-family: 'Ubuntu', sans-serif !important;
}

.text{
    font-family: 'Nanum Gothic', sans-serif;
}

.navig{
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.brand-title a{
    text-decoration: none;
    color: white;
}

.brand-title:hover a{
    color: white;
}

.navig-sub ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navig-sub li{
    list-style: none;
}

.navig-sub li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    font-variant: small-caps;
    letter-spacing: 2px;
    font-size: 18px;
}

.navig-sub li:hover{
    text-decoration: underline;
}

.toggle-button{
    position: absolute;
    right: 1rem;
    font-size: 35px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    border-radius: 5px;
}

.toggle-button:hover{
    cursor: pointer;
}

/*.frontpage{
    z-index: 5;
    height: 50%;
    width: 50%;
    color: white;
    text-align: center;
    padding-top: 30vh;
    font-size: 2hv;
    background-attachment: fixed;
    background-position: center;
}*/

.front-line{
    display: block;
    width: 80px;
    height: 4px;
    margin: 5px auto;
    border-radius: 2px;
    background-color: #fff;
}

.frontpage-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.frontbg{
    width: 100%;
    height: 100vh;
    background-image: url("zgrey.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#opening{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: xx-large;
    padding-bottom: 3rem;
}

.club-descript{
    color: white;
    text-align: center;
}

#join-us{
    padding-top: 5rem;
}

.img{
    padding-top: 5vw;
    height: auto;
    width: 80%;
    align-items: center;
}

.lettering-title{
    font-size: 4rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 1rem;
}

.lettering-small-text{
    color: rgba(255, 255, 255, 0.4);
    text-align: left;
}

.socials{
    padding-top: 2rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.socials-title{
    letter-spacing: 5px;
    font-size: 20px;
    margin: 0;
}@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Open+Sans:wght@300;400&family=Ubuntu&display=swap');

.socials-text{
    color: rgba(255, 255, 255, 0.5);
}

.socials-icon{
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    font-size: 30px;
    color: white;
    color: rgba(255, 255, 255, 0.5);
}

.divider{
    text-align: center;
}

.divider-line{
    margin-top: 5vh;
    display: inline-block;
    width: 90%;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
}

@media (max-width: 800px){
    .navig-sub ul{
        position: fixed;
        inset: 0 0 0 0%;
        flex-direction: column;
        padding: min(30vh, 10rem) 3rem;
        z-index: 1000;
        
        background: hsl(0, 0%, 0%, 1);
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .navig-sub.active ul{
        transform: translateX(30%);

    }
    
    @supports (backdrop-filter: blur(1rem)){
        .navig-sub ul{
            background: hsl(0, 0%, 100%, 0.1);
            backdrop-filter: blur(1rem);
        }
    }

    .toggle-button{
        z-index: 9999; 
        
    }

    #button-disable{
        display: block; 
    }

    #button-enable{
        display: none;
    }

    /*
    .toggle-button.active .bar:nth-child(2){
        opacity: 0;
    }

    .toggle-button.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    
    .toggle-button.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }*/

    .stop-scrolling{
        height: 100%;
        overflow: hidden;
    }
}
