@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Open+Sans:wght@300&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black !important;
    font-family: 'Open Sans', sans-serif !important;
}

section{
    position: relative;
    padding: 5rem;
    padding-top: 30%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
}

section:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    /*background: linear-gradient(to top, black, transparent);*/
    z-index: 100000;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.mainpage{
    position: relative;
    padding: 5rem;
    padding-top: 20%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.mainpage img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#welcome{
    position: relative;
    color: white;
    font-size: 5em;
    z-index: 1;
}

.title{
    font-size: 5rem;
}

.heading1{
    font-size: 5rem !important;
}

.text{
    color: white;
    font-size: 3vh;
}